.table-block {
    background-color: $white;
    margin-top: 2em;
    margin-bottom: 2em;

    .no-wrap {
        white-space: nowrap;
    }
}

.categories-name-input {
    width: 100%;
    border-radius: 3px;
    background-color: $gray-400;
    border: none;
    font-weight: 600;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    outline: none !important;
}

.categories-parent-input {
    width: 100%;
    border-radius: 3px;
    background-color: $gray-400;
    border: none;
    font-weight: 600;
    padding: 14px 20px 14px 20px;
    box-sizing: border-box;
    outline: none !important;
    color: $dark;
}

.categories-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;

    .line-break {
        width: 100%;
    }

    .categories-name {
        flex: 1;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
    }

    .categories-parent {
        flex: 1;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
    }

    .categories-submit {
        margin-top: 0.25em;
        flex: 1;

        button {
            width: 100%;
        }
    }

    @media (min-width: map-get($grid-breakpoints, "md")) {
        .line-break {
            display: none;;
        }

        .categories-name {
            margin-right: 1em;
        }

        .categories-parent {
            flex: 0 0 13em;
            margin-right: 1em;
        }

        .categories-submit {
            flex: 0;
            margin: 0.25em 1em 0.25em;
        }
    }
}

.category-show {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .category-form {
        flex: 1;
        background-color: $white;
        border-radius: 5px;
        padding: 1em;

        h1 {
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 1.4px;
            text-align: center;
            margin-bottom: 1em;
        }

        .category-helper {
            font-size: 14px;
            margin-bottom: 0.5em;
            color: $dark;
            text-align: center;
        }

        .category-group {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        button[type=submit] {
            margin-top: 1em;
        }
    }

    @media (min-width: map-get($grid-breakpoints, "md")) {
        .category-form {
            flex: 0 0 25em;
        }
    }
}

.product-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;

    .line-break {
        width: 100%;
    }

    .product-form {
        flex: 1;
        background-color: $white;
        border-radius: 5px;
        padding: 1em;

        h1 {
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 1.4px;
            text-align: center;
            margin-bottom: 1em;
        }

        h2 {
            font-size: 18px;
        }

        .product-group {
            margin: 0.75em 0;
        }

        .product-field {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        .product-input {
            width: 100%;
            border-radius: 3px;
            background-color: $gray-200;
            border: none;
            font-weight: 600;
            padding: 8px 15px 8px 15px;
            box-sizing: border-box;
            outline: none !important;
        }

        .product-textarea {
            width: 100%;
            border-radius: 3px;
            background-color: $gray-200;
            border: none;
            font-weight: 600;
            padding: 8px 15px 8px 15px;
            box-sizing: border-box;
            outline: none !important;
        }

        .product-select {
            width: 100%;
            border-radius: 3px;
            background-color: $gray-200;
            border: none;
            font-weight: 600;
            padding: 14px 20px 14px 20px;
            box-sizing: border-box;
            outline: none !important;
            color: $dark;
        }

        .product-confirm button {
            width: 100%;
        }
    }

    .delete-form {
        margin-top: 2em;
    }

    @media (min-width: map-get($grid-breakpoints, "md")) {
        .product-form {
            flex: 0 0 50em !important;

            .product-confirm {
                text-align: right;

                button {
                    width: auto;
                }
            }
        }
    }
}
