.header {
    background-color: $white;
    border-bottom: 1px solid $gray-300;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-flow: row wrap;
    }

    .logo {
        max-height: 50px;
        margin: 0.75em 0;

        &.logo-square {
            display: inline;
        }
        &.logo-extended {
            display: none;
        }
    }

    .line-break {
        width: 100%;
    }

    .spacer {
        flex: 1;
    }

    .search {
        flex: 1;
        margin: 0.75em 0 0.75em 2em;

        .search-input {
            width: 100%;
            border-radius: 3px;
            background-color: $gray-200;
            border: none;
            font-weight: 600;
            padding: 12px 20px 12px 20px;
            box-sizing: border-box;
            outline: none !important;
        }
    }

    .menu {
        margin-left: 1.5em;
        padding: 0.75em;
        align-self: stretch;
        display: flex;

        &.active, &:hover {
            border-bottom: 3px solid $primary;
        }

        .heading {
            align-self: center;
            font-weight: 600;
        }

        &.enhanced:hover {
            cursor: pointer;

            a {
                color: darken($primary, 15%);
            }
        }
    }

    @media (min-width: map-get($grid-breakpoints, "md")) {
        .line-break {
            display: none;
        }
    }

    @media (min-width: map-get($grid-breakpoints, "lg")) {
        .logo {
            &.logo-square {
                display: none;
            }
            &.logo-extended {
                display: inline;
            }
        }
    }
}
